@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
body
{
font-family: "PT Sans",sans-serif,arial;
}
.hl-branding
{
   border-radius: 0px;
  background-color: #5C5C5C;
  color: #D0D0D0;
  border: 0px;
  text-transform: uppercase;
}
.navbar-default.navbar-hamarlok
{
	background-color:#f8f8f8;
}
.navbar-brand-hamarlok
{
  height: 100px;
  padding: 30px 30px;
  font-size: 40px;
  line-height: 40px;
}
.navbar-brand-hamarlok-shrink {
  height: 50px;
  padding: 10px 10px;
  font-size: 30px;
  line-height: 30px;
}
.nav-pic
{
	padding:9px 15px;
}
div.mythumbnail
{
	float:right;
	padding-top:9px;
	padding-bottom:9px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.col-emboss
{
	  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
  background-color:#f2f2f2;
}
.col-lr-lesspad
{
	padding-right:5px;
	padding-left:5px;
}
.col-b-lessmar
{
	margin-bottom:5px;
}
.b-border
{
	border-bottom:1px solid #ccc;
}
.font-18
{
font-size:18px;
}
.fb-login-btn
{
	background-image:url('../img_data/facebook_logo.png');
	background-position:left center;
	background-repeat:no-repeat;
	background-size: 32px 32px;
}

.hl-login-btn
{
	margin-top:15px;
	background-image:url('../img_data/logo.png');
	background-position:left center;
	background-repeat:no-repeat;
    background-size: 32px 32px;
}
